<div class="col-xs-4 col-md-3">
  <div class="card card-board">
   
    <%= render 'shared/menus', controller: 'cards', id: card %>
    

    <h5 class="card-title">
      <%= card.title %>
    </h5>

    <div class="chores" id="div-card-<%= card.id%>">
      <%= render card.chores %>
    </div>

    <%= render 'chores/new', card: card %>

  </div>
</div>